.col1 p,
.header h2 {
  font-size: 40px;
  text-align: center;
}
.wrapper {
  width: 100vw;
}
.header {
  width: 100%;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.col3,
.container {
  flex-direction: column;
}
.line {
  border-bottom: 7px solid #98b460;
  width: 100px;
  margin: 15px auto;
}
.container {
  display: flex;
  align-items: center;
}
.col1,
.content {
  justify-content: center;
  display: flex;
}
.content {
  flex-wrap: nowrap;
  width: 85%;
}
.col1,
.col2,
.col3 {
  width: 33.333%;
  height: 675px;
}
.col1 {
  color: #fff;
  background-color: #98b460;
  align-items: center;
  padding: 0 15px;
}
.col1 p {
  font-weight: 700;
}
.col2 {
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 25px;
  padding: 0 25px;
}
.col2 ul {
  list-style: none;
  padding: 0;
}
.col2 ul li {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.icon {
  color: #98b460;
  margin-right: 15px;
  height: 20px;
  width: 20px;
}
.col3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
}
.col3__textContainer {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.col3__text1,
.col3__text2 {
  margin: 25px 15px;
  line-height: 30px;
}
@media screen and (max-width: 950px) {
  .content {
    width: 98%;
  }
}
@media screen and (max-width: 750px) {
  .content {
    flex-direction: column;
  }
  .col1,
  .col2,
  .col3 {
    width: 100%;
    height: 300px;
  }
  .col2 {
    line-height: 20px;
  }
  .col3__text1,
  .col3__text2 {
    margin: 12.5px 7.5px;
    line-height: 20px;
  }
}
@media screen and (max-width: 435px) {
  .col1,
  .col2,
  .col3 {
    height: 450px;
  }
  .col3__text1,
  .col3__text2 {
    margin: 25px 15px;
    line-height: 20px;
  }
}
