.imageContainer,
.imageWrapper {
  justify-content: center;
  display: flex;
}
.wrapper {
  height: 425px;
  width: 200px;
  border: 2px solid #fff;
  color: #fff;
  margin: 35px 0;
}
@keyframes createSection {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.show {
  animation: 1s createSection;
}
.imageWrapper {
  margin: 10px 0;
  align-items: center;
}
.imageContainer {
  background-color: #3a3839;
  height: 128px;
  width: 128px;
  border-radius: 50%;
  overflow: hidden;
  align-items: center;
}
.img {
  height: 70%;
  width: 70%;
}
.textContainer {
  text-align: center;
}
.textContainer h3 {
  height: 70px;
  margin: 5px 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textContainer p {
  margin: 5px 3px;
  height: 225px;
  line-height: 20px;
}
