.wrapper {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
}
.hidden,
.imageWrapper_mobile {
  display: none;
}
.show {
  display: flex;
}
.wrapper h2 {
  color: #98b460;
  text-align: center;
}
.imageWarpper_mobile,
.imageWrapper,
.text1Wrapper,
.text2Wrapper {
  width: 33%;
}
.image,
.imageContainer {
  width: 100%;
}
.imageWrapper,
.text1Wrapper,
.text2Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text1Wrapper ul,
.text2Wrapper ul {
  padding-left: 20px;
}
.imageWrapper {
  margin: 0 20px;
}
.image {
  height: 100%;
  object-fit: fill;
}
@media screen and (max-width: 750px) {
  .imageWrapper_mobile {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  .imageWrapper {
    display: none;
  }
  .imageContainer {
    max-width: 80%;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .imageWrapper_mobile,
  .text1Wrapper,
  .text2Wrapper {
    width: 90%;
  }
  .text1Wrapper {
    margin: 25px 0;
  }
}
