.wrapper {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.imageWrapper {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.imageContainer {
  height: auto;
}
.image {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
.imageText {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.textWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textContainer {
  padding: 25px;
  margin: auto;
}
.textWrapper h2 {
  color: #98b460;
  margin-bottom: 25px;
  text-align: center;
}
.textWrapper p {
  line-height: 30px;
}
@media screen and (max-width: 550px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .imageWrapper {
    height: 50%;
  }
  .textWrapper h2 {
    text-align: center;
  }
}
