.nav,
.nav ul {
  display: flex;
}
.nav,
.overlay {
  position: fixed;
}
.nav {
  background-color: #3a3839;
  color: #fff;
  width: 100vw;
  min-height: 54px;
  justify-content: center;
  z-index: 999;
}
.container {
  width: 65vw;
  text-align: center;
}
.burgerContainer,
.modal {
  display: none;
}
.bar {
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin: 3px 0;
  transition: 0.4s;
}
.nav ul {
  padding-top: 1rem;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  text-align: center;
}
.dropdown:hover .dropdown-content,
.overlay {
  display: block;
}
.nav a {
  color: #fff;
  text-decoration: none;
}
.dropdownButton:hover,
.nav a:hover {
  text-decoration: underline;
}
.overlay {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.downArrow {
  border: none;
  background-color: transparent;
  position: relative;
  top: -2.5px;
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-right: 0.2em solid #fff;
  border-top: 0.2em solid #fff;
  border-width: thin;
  transform: rotate(135deg);
  margin-right: 0.5em;
  margin-left: 0.25em;
}
@media screen and (max-width: 1210px) {
  .container {
    width: 80vw;
  }
}
@media screen and (max-width: 970px) {
  .container {
    width: 95vw;
  }
}
@media screen and (max-width: 900px) {
  .nav {
    display: flex;
    justify-content: flex-end;
  }
  .container {
    display: none;
  }
  .burgerContainer {
    display: flex;
    align-items: center;
    padding-right: 15px;
    border: none;
    background-color: transparent;
  }
  .bar {
    background-color: #82925e;
    height: 3px;
    width: 25px;
    margin: 3px 0;
    transition: 0.4s;
  }
  .modal {
    position: fixed;
    top: 0;
    width: 285px;
    height: 100%;
    background-color: #3a3839;
    color: #fff;
    transition: right 0.4s;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
  }
  .modal ul {
    height: 40vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
  }
  .modal a {
    color: #fff;
    text-decoration: none;
  }
  .modal a:hover {
    text-decoration: underline;
  }
  .open {
    right: 0;
  }
  .closed {
    right: -300px;
  }
}
