.wrapper {
  height: auto;
  width: 100vw;
  margin: 100px auto;
  padding: 0 40px;
  display: flex;
  color: black;
  background-color: white;
}

.line {
  border-bottom: 7px #98b460 solid;
  width: 100px;
  margin: 15px auto;
}

.textContainer {
  height: 100%;
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.textWrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.textWrapper h2 {
  font-size: 35px;
  margin: 5px 0;
  text-align: center;
}

.textWrapper p {
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
  line-height: 30px;
  white-space: pre-line;
}

.textWrapper a {
  height: 55px;
  width: 400px;

  border: 2px solid black;
  border-radius: 35px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: black;
  text-decoration: none;
  font-weight: bold;

  margin: 10px 0;
}

.textWrapper a:hover {
  color: #98b460;
  border-color: #98b460;
}

.imageWrapper {
  width: 50%;
}

.image {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 910px) {
  .image {
    object-fit: cover;
  }

  .textWrapper h2 {
    font-size: 25px;
  }

  .textWrapper a {
    width: 275px;
    font-size: 11px;
  }
}

@media screen and (max-width: 680px) {
  .wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
    width: 95vw;
    padding: 0;
  }

  .textContainer,
  .imageWrapper {
    text-overflow: ellipsis;
    width: 95%;
  }

  .textWrapper a {
    width: 400px;
    font-size: 15px;
  }
}

@media screen and (max-width: 450px) {
  .textWrapper a {
    width: 270px;
    font-size: 11px;
  }
}
