.container {
  width: 100vw;
  padding: 0 112.5px;
  display: block;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 2;
}
.isWhite {
  color: #000;
  background-color: #fff;
}
.isGrey {
  color: #fff;
  background-color: #4d4d4d;
}
.hidden {
  height: 100vh;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .container {
    padding: 0 25px;
  }
}
@media screen and (max-width: 720px) {
  .container {
    padding: 0;
  }
}
