.container {
  width: 100vw;

  padding: 0 112.5px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 2; /* Ensure that homepage crane image doesn't block bottom part of ArticleContainer */
}

.isWhite {
  color: black;
  background-color: white;
}

.isGrey {
  color: white;
  background-color: #4d4d4d;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 25px;
  }
}

@media screen and (max-width: 720px) {
  .container {
    padding: 0px;
  }
}
