.hide {
  display: none;
}

.show {
  animation: createSection 1s;
}

/* Animation */
@keyframes createSection {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  border: #98b460 3px solid;

  height: 525px;
  width: 300px;

  margin: 25px;
}

.numberContainer {
  height: 40%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  height: 90px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: #98b460 3px solid;
  color: white;
  font-size: 50px;
}

.textContainer {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  padding: 0 25px;
}

.textContainer h3 {
  margin-bottom: 25px;
  height: 35px;
}

@media screen and (max-width: 515px) {
  .wrapper {
    margin: 25px 10px;
  }

  .textContainer h3 {
    margin-bottom: 10px;

    height: 65px;
  }
}
