.container {
  height: auto;
  width: 100vw;
  margin: 100px auto;
  display: flex;
}
.wrapperLTRI,
.wrapperRTLI {
  display: flex;
  width: 95vw;
  margin: 0 auto;
}
.hide {
  display: none;
}
.show {
  animation: 1s createSection;
}
@keyframes createSection {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.line {
  border-bottom: 7px solid #98b460;
  width: 100px;
  margin: 15px auto;
}
.textContainer {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.whiteBackground {
  color: #000;
  background-color: #fff;
}
.greyBackground {
  color: #fff;
  background-color: #4d4d4d;
}
.textWrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.textWrapper h2 {
  font-size: 2rem;
  margin: 5px 0;
  text-align: center;
}
.textWrapper p {
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
  line-height: 30px;
  white-space: pre-line;
}
.imageWrapper {
  width: 50%;
}
.image {
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 1025px) {
  .textWrapper p {
    line-height: 20px;
  }
  .is40vh,
  .is700px {
    height: auto;
  }
  .image {
    object-fit: cover;
  }
}
@media screen and (max-width: 680px) {
  .wrapperLTRI,
  .wrapperRTLI {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
    width: 95vw;
  }
  .wrapperRTLI {
    flex-direction: column;
  }
  .imageWrapper,
  .textContainer {
    text-overflow: ellipsis;
    width: 95%;
  }
  .textWrapper h2 {
    font-size: 25px;
  }
}
