.closeButtonContainer {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
}
.closeButtonContainer button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 25px;
}
.linkContainer {
  height: 80vh;
  width: 100%;
}
.linkContainer ul {
  width: 100%;
  padding-left: 5px;
}
.burger-dropdown-content {
  width: 100%;
  display: none;
  position: absolute;
  background-color: #3a3839;
  min-width: 160px;
  z-index: 3;
  overflow: auto;
}
.downArrow,
.servicios__button {
  border: none;
  background-color: transparent;
}
.burger-dropdown-content a {
  padding-left: 2.5px;
  margin-top: 8px;
  margin-left: 4px;
}
.dropdownShow {
  display: flex;
  flex-direction: column;
}
.dropdownHide {
  display: none;
}
.servicios__button {
  color: #fff;
  font-size: 16px;
  margin-right: 0.25em;
}
.downArrow {
  position: relative;
  top: -2.5px;
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-right: 0.2em solid #fff;
  border-top: 0.2em solid #fff;
  border-width: thin;
  transform: rotate(135deg);
  margin-right: 0.5em;
  margin-left: 0.25em;
}
